<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

  <test name="com.maven.test1 - class">
    <classes>
      <class name="com.maven.test.TestNG"/>
    </classes>
  </test>
  
  <test name="com.maven.test2 - methods">
    <classes>
      <class name="com.maven.test.TestNG">
	      <methods>
	        <include name="f1" />
	      </methods>
	   </class>
    </classes>
  </test>
  
  <test name="com.maven.test3 - package">
  	<parameter name="first-name" value="Tom"/>
    <packages>
      <package name="com.maven.test" />
	</packages>
  </test>
 
	<test name="com.maven.test4 - group"   >
		<groups>
			<run>
				<!-- <exclude name="g2"  /> -->
				<include name="g1"  />
			</run>
		</groups>
		<classes>
			<class name="com.maven.test.TestNG"/>
		</classes>
	</test>

	<parameter name="first-name" value="Rain"/>
	<parameter name="datasource" value="my-database"/>
	<parameter name="jdbcDriver" value="mysql"/>

</suite>
